/*-------fade-ins*/
@keyframes fade-up {
	0% {transform:translateY(75px);}
	100% {transform:translateY(0px);opacity:1;}}
@keyframes fade-left {
	0% {transform:translateX(-75px);}
	100% {transform:translateX(0px);opacity:1;}}
@keyframes fade-right {
	0% {transform:translateX(75px);}
	100% {transform:translateX(0px);opacity:1;}}
@keyframes fade-down {
	0% {transform:translateY(-75px);}
	100% {transform:translateY(0px);opacity:1;}}
.t-fade-in {opacity:0;}
/*---------------GLOBAL*/

body,.search, .search input, .gen-row,.row {max-width:100%;}
* {box-sizing:border-box;}
.clearfix,.settings label {
	display:table;
	content:"";
	clear:both;
}
svg {width:100%;height:100%;}
ul {list-style:none;padding-left:0;}
a {text-decoration:none;outline:none !important;}
h1,h2,h3,h4,h5,p,a,li,span,b,button,label,input {font-family: 'Roboto', sans-serif;}

/*layout*/
.row {width:100%;}
.left {float:left;}
.right {float:right;}
.relative {position:relative;}
.abs-center {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.text-right {text-align:right;}
.text-center {text-align:center;}
.content-wrap {width:100%;padding:16px 10px;}
.one-third-sm, .two-thirds-sm, .half-sm {float:left;}
.half-sm {width:50%;}
.one-third-sm {width:33.3333%;}
.two-thirds-sm {width:66.6666%;}
.gen-radius {border-radius:2px;}

/*genStyles*/
.gen-radius {border-radius:5px;}
.small-shadow {box-shadow:0 1px 3px rgba(0,0,0,0.25);}
.btn {padding:12px 5px;border:none;outline:none;transition:.32s;}
.sect-title {font-size:24px;margin:14px 0;}
.error,.success {padding:12px;border-radius:4px;margin-top:5px;color:#fff;width:100%;}
.error p,.success p {margin:0;}
.error {background:#ff0000;}
.success {background:#00ff00;}

/*colors*/
.blue-bg {background:#3949AB;}
.dk-blue-bg {background:#283593;}
.lt-gray-bg {background:#f2f2f2;}
.white-bg {background:#fafafa;}
.blue-bg,.dk-blue-bg {color:#fafafa;}
.lt-gray {color:#9a9a9a;}

.white {color:#fafafa;}
.blue, .recent-activity .description .right {color:#3949AB;}


/*--------------------HEADER*/
header {
	width:100%;
	padding:16px 10px;
}
.app-logo {margin-top:5px;}
.app-logo h1 {margin:0;}
.app-logo span:first-child {font-weight:bold;}
.app-logo span {font-weight:normal;}
.app-logo {display:inline-block;}
.app-logo, .profile-section {margin:10px auto;width:100%;text-align:center;}
/*.profile-section {width:300px;}*/
.profile-data {
	padding-left:12px;
	border-left: 1px solid #283593;
}
.profile-data p {margin:0 0 0 8px;padding-top:12px}
.profile-data img {
	width:42px;
	height:42px;
	border-radius:50%;
}
.notify,.profile-data {display:inline-block;}
.notify {
	width:28px;
	height:30px;
	margin-right:10px;
	transform:translateY(-5px);
	position:relative;
	cursor:pointer;
	z-index:1500;
}
.notifications {
	position:absolute;
	left:0;
	right:auto;
	top:110%;
	min-width:150px;
	background:#656565;
	display:none;
	box-shadow:1px 2px 8px rgba(0,0,0,0.32);
	border-radius:4px;
}
.notification-container {border-bottom:1px solid #212121;}
/*.notify svg {width:100%;height:100%;}*/
/*.notify svg path {position:absolute;left:50%;top:50%;}*/




/*--------------------navigation*/
nav {width:100%;}
nav ul {margin:0;}
nav ul li {
	width:24%;
	display:inline-block;
	text-align:center;
	padding:12px 0;
	border-bottom:4px solid rgba(0,0,0,0);
	opacity:.5;
	transition:.25s;
}
nav ul li.current-menu-item, nav ul li:hover {
	border-color:#4CAF50;
	opacity:1;
	cursor:pointer;
}
nav ul li svg {width:30px;height:30px;max-width:100%;max-height:100%;}

/*--------------------main-content*/
.search-wrap {
	width:65%;
	border-left:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.search-wrap .search {float:right;padding:8px 5px;}
.search input {
	padding:2px;
	border-radius:5px;
	border:1px solid #d2d2d2;
}
.tab {padding:12px 10px;width:35%;}
.tab p {margin:0;font-size:14px;}

.alert-row {padding:12px;}
.alert {width:100%;}
.alert span:first-child {padding:12px 0 0 12px;display:inline-block;}
.alert p {margin:0;}
.alert-exit {padding:12px;cursor:pointer;display:inline-block;float:right;}

/*social*/
.social-sect-wrap {padding:5px;}
.social-sect {
	width:100%;
	padding:12px 5px;
	border:1px solid #e2e2e2;
	border-radius:2px;
}
.icon {
	text-align:center;
	width:65px;height:65px;
	position:relative;
	border-radius:45px;
	margin:0 auto;
}
.icon svg {
	width:35px;height:35px;
	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%,-50%);
}
.icon path {fill:#fafafa;}
.twitter.social-sect .icon path {transform:translateY(2px);}
.facebook.social-sect .icon path {transform:translateY(-2px);}
.info {padding:5px;}
.info p {margin:0;}
.info p:last-child {font-size:24px;color:#626262;}


/*lower panel*/
.panel-pad input[type="text"],
.panel-pad select,
.panel-pad textarea {
	border:1px solid #e2e2e2;
	display:block;
	width:100%;
	padding:10px 5px;
	opacity:.5;
	outline:none;
	transition:.32s;
}
.panel-pad input[type="text"]:focus,
.panel-pad select:focus,
.panel-pad textarea:focus {opacity:1;}

/*activity*/
.list-item {
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #e2e2e2;
}
.list-item:last-child {border-bottom:none;}
.list-item .relative {
	width:100%;
	min-height:100px;
}
.profile-thumbnail, .description {position:absolute;top:50%;transform:translateY(-50%);}
.profile-thumbnail {width:18%;}
.description {width:80%;right:0;left:auto;}
.profile-thumbnail img {width:90%;height:auto;border-radius:50px;}
.description p {margin: 0;}
.description .left {width:90%;}
.description .right {width:10%;}
.new-members .description .right {width:20%;}
.new-members .description .left {width: 80%;}
.new-members .description .right,.description .left a,.recent-activity .member p:last-child {font-size:12px;}

.recent-activity .member p:first-child {font-size:14px;}


.message textarea, .message input[type="text"], .panel-pad select {
	background:#f2f2f2;
	border-radius:2px;
	border:1px solid #e2e2e2;
	transition:.25s;
	opacity:.5;
	color:#727272;
}
.message textarea:focus, .message input[type="text"]:focus, .panel-pad select:focus {border-color:#283593;}
.message textarea {min-height:110px;}
.message.panel-pad input,.message.panel-pad textarea {margin:10px auto;}
.message input[type="submit"] {width:100%;padding:12px 10px;text-align:center;border:none;}
.user-preview-container {position:relative;width:100%;}
.user-preview {position:absolute;left:0;right:0;top:0;z-index:500;}
.user-preview-usr {padding:5px;background:#f2f2f2;color:#212121;}

.settings label {width:100%;padding:10px 0;max-width:365px;}
.settings label strong {float:left;}
.settings label span.switcher {float:right;width:100px;}

.settings .btn-wrap {padding:10px 0;}
.settings .btn-wrap:first-child {padding-right:5px;}
.settings .btn-wrap:last-child {padding-left:5px;}
.settings .btn-wrap .btn {width:100%;}
.settings select,.settings .btn-wrap {margin: 8px auto;}

/*--------------------Chart*/
.chart {max-width:100%;}
.chart-nav {float:right;}
.traffic-chart .sect-title {float:left;}
.chart-nav li {display:inline-block;margin:2px;padding:5px;color:#fff;background:#5eb000;border-radius:25px;cursor:pointer;}



@media screen and (min-width:768px) {    /*---------------------------------tablet*/


/*---------------GLOBAL*/
.left-lg {float:left;}
.right-lg {float:right;}
.content-wrap {padding:32px 12px;}
/*main {margin-top:98px;}*/

/*layout*/
.half, .one-third, .two-thirds {float:left;margin:0;}
.half {width:50%;}
.content-wrap {padding:0;}
.gen-row {padding:65px 12px;}
.one-third {width:33.3333%;}
.two-thirds {width:66.6666%;}
/*gen-style*/
.sect-title {font-size:25px;}

/*--------------------HEADER*/
.app-logo,.profile-section {width:auto;}
.app-logo {margin-top:14px;}



/*--------------------navigation*/
/*header {
	position:fixed;
	top:0;left:0;right:0;
}*/
nav {
	width:10%;
	position:fixed;
	top:98px;left:0;bottom:0;
	z-index:2000;
	/*transition:.32s;*/
}
nav ul {width:auto;}
nav ul li {
	display:block;
	width:auto;
	min-width:50px;
	min-height:50px;
	padding:18px 24px;
	border-bottom:none;
	border-left:4px solid rgba(0,0,0,0);
}



/*--------------------main*/
main {width:90%;margin-left:10%;}
.search input {padding:10.5px 10px;}
.search-wrap {width:85%;}
.tab {width:15%;padding:22px 10px;}

.alert-row {margin-top:50px;}
.social-sect-wrap {padding:10px;}
.social-sect {padding:16px 10px;}

/*lower panel*/

.panel-row:not(:last-child) {padding:0;border:1px solid #e2e2e2;border-right:none;border-left:none;}
.panel-pad {padding:16px 14px;}
.panel-pad:first-child {border-right:1px solid #e2e2e2;}

/*activity*/
.profile-thumbnail {width:12%;}
.description {width:87%;right:0;}

.new-members .description .right {width:10%;}
.new-members .description .left {width: 90%;}





} @media screen and (min-width:1024px) {   /*--------------------------------------------------Desktop*/


/*---------------GLOBAL*/
.btn,.message input[type="submit"] {padding:24px;}


/*--------------------HEADER*/




/*--------------------navigation*/
nav ul li svg {width:75%;max-width:50px;height:auto;}


/*--------------------main*/
.search-wrap {width:90%;}
.tab {width:10%;}

.member .relative {min-height:75px;}
.new-members .description .right,.description .left a,.recent-activity .member p:last-child {font-size:14px;}
.recent-activity .member p:first-child,.member .descrtiption .left p:first-child {font-size:18px;}

/*activity*/
.panel-pad {padding:24px;}



} @media screen and (min-width:1400px) {   /*--------------------------------------------------LARGE*/

.social-sect .blue {font-size:24px;}
.social-sect .icon {width:95px;height:95px;border-radius:100px;}
.social-sect .icon svg {width:55px;height:55px;}
.info p:last-child {font-size:54px;}
.panel-pad {padding:42px;}
.panel-pad:first-child {padding-left:75px;}
.panel-pad:last-child {padding-right:75px;}
.gen-row,.alert-row {padding-left:75px;padding-right:75px;}



}






